// .ui.grid > .row.content-page__header_traefik {
//   padding: 20px 0px 0px 0px;
// }

.ui.primary.button.tempButtonforTraefik {
  display: flex;
  align-items: center;
  margin: 2px 6px 0px 0px;
}

.tempButtonforTraefik {
  height: 40px;
  position: absolute;
  right: 10px;
  top: 20px;
  margin-top: 12px;
}
.row.content-page__header_certificates {
  padding: 14px 0;
}