.content-page__header_actions {
  display: flex;
}

.ui.primary.button.tempButtonforTraefik {
  display: flex;
  align-items: center;
  margin: 2px 6px 0px 0px;
}

.ui.grid > .row.routeHeader h2.create-route__title {
  margin-top: 2rem;
  margin-bottom: 1rem;
}