.networking_balancer {
  .content-page__header_actions {
    display: flex;
  }
  .tools {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 10px 0px 20px 0px;
		flex-wrap: wrap;
    gap: 1rem;
  }
  .tools input {
    max-width: 250px;
  }
  
  .subTitleForm {
    font-size: 13px;
    color: #757575;
  }

  .keyOfCertificate {
    color: #5a91a3;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 15px;
    // font-family: monospace;
  }
  .headerKeyOfCertificate {
    display: flex;
    justify-content: space-between;
  }
  .controlPanel {
    max-width: 700px;
  }
  .certDetailsRow {
    margin-left: 16px;
  }
  .certDetailsRow table {
    max-width: 700px;
    height: 100px;
    border-radius: 5px;
  }
  .altServices {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  .altServiceControl {
    font-size: 13px;
    color: #757575;
    display: flex;
		gap: 0.5rem;
		margin-top: 0.2rem;
  }
  .altServiceControl button {
    color: #0066ff;
    cursor: pointer;

		&:disabled {
			opacity: 0.4;
		}
  }
  .formContainer {
		display: flex;
		flex-direction: column;

		input, button[role="combobox"], button[role="radio"], button[role="checkbox"][data-state="unchecked"] {
			background-color: var(--white);
		}
  }
  .addService {
    display: flex;
    flex-wrap: wrap;
		gap: 1rem;
  }
  .addService .addService-item {
    flex-basis: 360px;
    flex-grow: 1;
  }
  .rangeValues {
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
  }
  .formActions {
    display: flex;
    justify-content: flex-end;
		gap: 1rem;
		margin-top: auto;
  }
  .created {
    color: #767676;
    margin-left: 5px;
    margin-top: auto;
  }
  
  .subtitle {
    color: #767676;
  }
  .status {
    font-size: 16px;
    margin: 4px 0 0 16px;
  }
  .td-wrapper {
    display: flex;
    flex-wrap: wrap;
		align-items: center;
  }
  .ui.popup.popup-window {
    max-width: max-content;
  }
  .popup-dots {
    cursor: pointer;
    width: 16px;
    height: 16px;
    background: #ededed;
    border-radius: 2px;
    color: #6a6a6a;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-left: 4px;
  }
  .textAreaForCert {
    width: 100%;
    height: 100%;
    border: 1px solid rgba(34, 36, 38, 0.15);
    resize: vertical;
  }
  .ipv div.radio label {
    font-weight: normal;
  }
  .ipv div.ui.radio.checkbox label {
    padding-left: 20px;
  }
  .routeBlock {
    border-radius: 6px;
    padding: 14px;
    background: #f5f5f5;
    margin-bottom: 10px;
		display: flex;
		flex-direction: column;
		gap: 1rem;
  }
  .loadBalancerDescription {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.01em;
    color: #969696;
    margin-top: 14px;
    max-width: 800px;
  }
  .loadBalancerDescription p {
    margin: 0px;
  }
  .publicHostname {
    font-size: 14px;
    font-weight: 600;
    color: black;
    height: 40px;
    display: flex;
    align-items: center;
  }
  .publicHostname span:last-child {
    background: #eaeaea;
    border-radius: 10px;
    height: 30px;
    margin-left: 6px;
    padding: 0 6px 0 12px;
    display: flex;
    align-items: center;
  }
  .buttons-wrapper {
    display: flex;
  }
  .cert-details-row {
    padding: 8px 0px;
  }
  .cert-details-row table {
    max-width: 700px;
    height: 100px;
    border-radius: 5px;
  }
  .display-certificate {
    word-break: break-all;
    max-width: 700px;
    height: 130px;
  }
  .display-certificate div pre {
    height: 75px;
    box-sizing: inherit;
  }
  .create-route-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
		row-gap: 1rem;
  }
  .name-wrapper {
    display: flex;
    align-items: center;
  }
  .name-wrapper img {
    margin-right: 0.5rem;
  }
  .ui.button > .info-icon {
    margin: 0px 0px 2px 0px !important;
    position: relative;
  
    &:before {
      position: absolute;
      bottom: -2px;
    }
  }
  .disabled-btn {
    cursor: default;
    opacity: 0.45 !important;
    background-image: none !important;
    box-shadow: none !important;
    padding-top: 12px !important;
  }
  .fields-wrapper {
    padding-left: 0px !important;
    width: 80%;
  }
  .health {
    h5 {
      margin-bottom: 0;
    }
    .health-wrapper {
      margin: 25px 0;
    }
    .health-wrapper > div {
      margin-bottom: 15px !important;
    }
    .header-content {
      margin-top: 20px;
    }
  }
  .headers-inputs {
    .headers-inputs__content {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      flex-wrap: wrap;
      margin-top: 1rem;
  
      .field {
        margin: 0 !important;
      }
  
      .field > label,
      input.hidden + label {
        margin: 0 !important;
      }
  
      i.trash:hover {
        color: initial;
      }
    }
  
    .ui.button.add-header {
      margin-top: 1rem;
    }
  }
	.certificateHeader {
		margin-bottom: 1rem;
	}
	.cert-form-actions {
		justify-content: flex-end;
	}
	.dragArea {
		position: absolute;
		top: 0;
    width: calc(100% - 105px);
    height: 100%;
    opacity: 0;
	}
	.relative[data-active="true"] > input {
		outline: 1px solid var(--tw-ring-color)
	}
	h3.mt-2 {
		margin-top: 1rem;
	}
	.web-route-details dt {
		max-width: 380px;
		width: 100%;
	}

	.web-route-details dd {
		font-weight: 600;
	}

	.formContainer .mt-0 {
		margin-top: 0;
	}

	.admonition {
		color: #dc7609;
		border: 1px solid #dc7609;
		border-radius: 8px;
		display: flex;
		gap: 8px;
		padding: 8px;
		max-width: 700px;
		width: 100%;
		font-size: 16px;
		white-space: pre-line;

		svg {
			flex-shrink: 0;
			margin-top: 2px;
		}
	}
}

.ui.cancelChangesModal {
  width: 520px;
}
